<router-outlet></router-outlet>
<!-- <app-header></app-header> -->
<app-navbar></app-navbar>
<app-tareas></app-tareas>
<div class="container grid">
  <app-card [dataEntry]="card" *ngFor="let card of Tarjetas"></app-card>
</div>
<!-- <app-slidebar></app-slidebar> -->

<div class="container">
  <h3 [ngStyle]="{ 'font-style': texto.length > 0 ? 'italic' : 'normal' }">
    {{ texto }}
  </h3>
  <button
    [ngClass]="texto.length > 0 ? 'btn btn-success' : 'btn btn-primary'"
    (click)="cambiarTexto()"
  >
    Hacer clic
  </button>
</div>

<div class="container">
  <input
    class="form-control"
    type="text"
    placeholder="Escriba algo aqui..."
    [(ngModel)]="texto2"
  />
  <h3>{{ texto2 }}</h3>
</div>
